body{
    margin: 0;
    background-color: black;
    font-family: "Roboto Condensed", sans-serif;;
}

/*header*/
.header {
    background-image: url(../img/header_foto.png);
    margin-left: -24px;
    background-repeat: no-repeat;
    width: auto;
    height: 880px;
}
.menu__laptop{
    display: flex;
    width: 1400px;
    justify-content: space-around;
    height: 140px;
    align-items: stretch;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.menu {
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 140px;
    width: auto;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.logotip {
    width: 130px;
    height: 100px;
    margin-top: 20px;
    margin-left: 30px;
}
.button__menu {
    display: flex;
    width: auto;
    margin-top: 60px;
    height: 50px;
    gap: 30px;
    align-items: stretch;
}
.home__btn {
    width: 100px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: azure;
    transition: all 0.5s;
}
.training__btn {
    width: 140px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: azure;
}
.shop__btn {
    width: 120px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: azure;
}
.contact__btn {
    width: 120px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: azure;
}
.regist__button{
    width: 170px;
    height: 35px;
    text-align: center;
    margin-right: 60px;
    border-radius: 0px;
    border-color: coral;
    border-style: solid;
    border-radius: 10px;
}
.regist__btn {
    width: 120px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: azure;
}
/*burger__btn*/
.open{
    display: flex !important;
}
.mobile__menu{
    display: none;
}
.nav{
    display: flex;
    width: auto;
}
.nav ul{
    width: 80px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li{
    color: azure;
}
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #fff;
}
.burger::before, .burger::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}
.burger::before{
    top: 0;
}
.burger::after{
    bottom: 0;
}
.burger.active span{
    transform: scale(0);
}
.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

/*header zagolovok*/
.header__zagolovok {
    padding-top: 320px;
    width: 650px;
    margin-left: 100px;
}
.zagolovok1 {
    display: block;
    width: auto;
}
.h1__zagolovok1 {
  font-family: 'Rubik One', sans-serif;
  font-size: 46px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #ecac13 33%, #a6460a 66%, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin: 0;
}
.p__zagolovok1 {
    width: auto;
    font-size: 20px;
    color: azure;
}
.button__zagolovok1 {
    width: 400px;
    height: 40px;
    display: flex;
    margin-top: 80px;
    gap: 40px;
}
.btn1__zagolovok {
    width: 160px;
    text-align: center;
    background-color: coral;
    border-radius: 10px;
}
.a__btn1{
    
    color: azure;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 9px;
}
.btn2__zagolovok {
    width: 180px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: coral;
}
.a__btn2{
    color: azure;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 5px;
}
/*contact*/
.contact {
    margin-top: 260px;
    border-radius: 10px;
    border-style: solid;
    color: coral;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.instagram {
    width: 40px;
    height: 40px;
    fill: darkslateblue;
    position: relative;
    top: 5px;
}
.facebook {
    fill: deepskyblue;
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
}
.youtube {
    fill: red;
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
}
/*fitness plan*/
.fitnes__plan {
    background-image: url(../img/dark__foto.png);
    width: auto;
    height: 1000px;
}
.h1__fitnes_plan {
    width: 550px;
    color: azure;
    font-size: 46px;
    margin: auto;
    padding-top: 60px;

}
.span__fitness_plan {
    color: coral;
    font-style: 46px;
}
.grid__fitnes_plan {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin-top: 200px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
}
.grid1 {
    text-align: center;
}
.img__grid1 {
}
.h1__grid__fines_plan1 {
    color: coral;
    font-size: 30px;
}
.p__fitnes_plan1 {
    color: azure;
    font-size: 20px;
}
.grid2 {
    text-align: center;
}
.img__grid2 {
    text-align: center;
}
.h1__grid__fines_plan2 {
    color: coral;
    font-size: 30px;
}
.p__fitnes_plan2 {
    color: azure;
    font-size: 20px;
}
.grid3 {
    text-align: center;
}
.img__grid3 {
}
.h1__grid__fines_plan3 {
    color: coral;
    font-size: 30px;
}
.p__fitnes_plan3 {
    color: azure;
    font-size: 20px;
}
.grid4 {
    text-align: center;
}
.img__grid4 {
}
.h1__grid__fines_plan4 {
    color: coral;
    font-size: 30px;
}
.p__fitnes_plan4 {
    color: azure;
    font-size: 20px;
}
.grid5 {
    text-align: center;
}
.img__grid5 {

}
.h1__grid__fines_plan5 {
    color: coral;
    font-size: 30px;
}
.p__fitnes_plan5 {
    color: azure;
    font-size: 20px;
}
.grid6 {
    text-align: center;
}
.img__grid6 {
}
.h1__grid__fines_plan6 {
    color: coral;
    font-size: 30px;
}
.p__fitnes_plan6 {
    color: azure;
    font-size: 20px;
}
/*subscribe plan*/
.subscribe__plan {
    height: 600px;
}
.h1__sub_plan {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 46px;
    color: azure;
}
.span__kurs{
    font-size: 46px;
    color: coral;
}
.grid__plan {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1200px;
    margin: auto;
}
.plan1 {
    width: 300px;
    height: 350px;
    border-style: solid;
    border-radius: 10px;
    border-color: coral;
}
.name__plan1 {
    padding-top: 40px;
    font-size: 24px;
    color: azure;
    text-align: center;
}
.p__data_plane1 {
    padding-top: 30px;
    font-size: 16px;
    color: azure;
    text-align: center;
}
.p__price1 {
    padding-top: 10px;
    font-size: 18px;
    -webkit-text-stroke: 0.3px coral;
    -webkit-text-fill-color: azure;
    text-align: center;
    padding-bottom: 55px;
}
.button__sign_up {
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: coral;
    margin: auto;
}
.sign_up__btn {
    position: relative;
    top: 5px;
    text-decoration: none;
    color: azure;
}
.plan2 {
    width: 300px;
    height: 350px;
    border-style: solid;
    border-radius: 10px;
    border-color: coral;
}
.name__plan2 {
    text-align: center;
    font-size: 24px;
    color: azure;
    padding-top: 40px;
}
.p__data_plane2 {
    text-align: center;
    font-size: 16px;
    color: azure;
    padding-top: 30px;
}
.p__price2 {
    text-align: center;
    font-size: 18px;
    -webkit-text-stroke: 0.3px coral;
    -webkit-text-fill-color: azure;
    padding-bottom: 65px;
}
.plan3 {
    width: 300px;
    height: 350px;
    border-style: solid;
    border-radius: 10px;
    border-color: coral;
}
.name__plan3 {
    text-align: center;
    font-size: 24px;
    color: azure;
    padding-top: 50px;
    margin: 0;
}
.p__data_plane3 {
    text-align: center;
    font-size: 16px;
    color: azure;
    padding-top: 20px;
}
.p__price3 {
    text-align: center;
    font-size: 18px;
    -webkit-text-stroke: 0.3px coral;
    -webkit-text-fill-color: azure;
    padding-bottom: 50px;
}
/*join trainer*/
.join__trainer {
    height: 800px;
}
.h1__join__trainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    font-size: 46px;
    color: azure;
}
.span__trainer{
    color: coral;
}
.grid__trainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.trainer__card1 {
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: coral;
    text-align: center;
    height: 550px;
}
.tainer1 {
    width: auto;
    
}
.trainer__a1{
}
.trainer__img1 {
    width: 240px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
}
.p__trainer1 {
    color: azure;
    font-size: 18px;
}
.p__opt1 {
    color: azure;
    font-size: 18px;
    
}
.p__slogan1 {
    color: azure;
    font-size: 18px;
}
.trainer__card2 {
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: coral;
    text-align: center;
    height: 550px;
}
.tainer2 {
    width: auto;
    height: auto;
}
.trainer__img2 {
    width: 240px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
}
.p__trainer2 {
    color: azure;
    font-size: 18px;
}
.p__slogan2{
    color: azure;
    font-size: 18px;
}
.p__opt2{
    color: azure;
    font-size: 18px;
}
.trainer__card3 {
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: coral;
    text-align: center;
    height: 550px;
}
.tainer3 {
    width: auto;
}
.trainer__img3 {
    width: 240px;
    height: 300px;
    border-radius: 10px;
}
.p__trainer3 {
    color: azure;
    font-size: 18px;
}
.p__slogan3{
    color: azure;
    font-size: 18px;
}
.p__opt3{
    color: azure;
    font-size: 18px;
}

/*why join us*/
.why__join__us {
    height: 600px;
    margin-top: 180px;
}
.h1__why__join__us {
    font-size: 46px;
    width: 700px;
    color: azure;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
.span__question{
    color: coral;
}
.question__foto {
    display: flex;
}
.question {
    width: 600px;
    background-color: #170e04;
    height: 200px;
    margin-left: 80px;
}
.li__question1 {
    padding-left: 20px;
    padding-top: 10px;
    color: azure;
    font-size: 30px;
    padding-bottom: 10px;
}
.li__question2 {
    padding-left: 20px;
    color: azure;
    font-size: 30px;
    padding-bottom: 10px;
}
.li__question3 {
    padding-left: 20px;
    color: azure;
    font-size: 30px;
    padding-bottom: 10px;
}
.li__question4 {
    padding-left: 20px;
    color: azure;
    font-size: 30px;
    padding-bottom: 10px;
}
.foto__quest{
    margin-left: 50px;
}
.img__quest2{
    margin-left: 40px;
}
.button__see__more {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: coral;
    text-align: center;
    margin-left: 80px;
    margin-top: 40px;
}
.a__see__more {
    position: relative;
    top: 7px;
    text-decoration: none;
    font-size: 20px;
    color: azure;
}
/*info*/
.info {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: #120a03;
}
.info2{
    display: flex;
}
.logotip__flooter {
    width: 200px;
    text-align: center;
    padding-top: 60px;
    padding-left: 40px;
}
.img__flooter {
}
.p__logo__flooter {
    color: azure;
    font-size: 18px;
}
.company {
    padding-left: 200px;
    width: 200px;
    text-align: center;
    display: block;
}
.h1__company1 {
    padding-top: 80px;
    padding-bottom: 20px;
    color: azure;
    margin: 0;
}
.p__company2 {
    text-decoration: none;
    color: azure;
    font-size: 20px;
}

.contact__flooter {
    width: 200px;
    text-align: center;
}
.h1__contact1 {
    padding-top: 80px;
    padding-bottom: 20px;
    margin: 0;
    color: azure;
}
.p__contact2 {
    margin: 0;
    text-decoration: none;
    color: azure;
    font-size: 20px;
}
.other {
    width: 200px;
    text-align: center;
}
.h1__other1 {
    padding-top: 80px;
    padding-bottom: 20px;
    margin: 0;
    color: azure;
}
.p__other2 {
    margin: 0;
    text-decoration: none;
    color: azure;
    font-size: 20px;
}
.popular__tag {
    width: 300px;
    text-align: center;
    padding-left: 40px;
}
.h1__popular__tag {
    color: azure;
    margin: 0;
    padding-top: 80px;
}
.grid__tag {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-template-rows: 30px 30px;
    gap: 20px;
    padding-top: 20px;
}
.abs__tag{
    border-radius: 10px;
    border-style: solid;
    background-color: gray;
}
.abs {
    position: relative;
    top: 3px;
    text-decoration: none;
    color: #2e1f0f;

}
.workout__tag{
    border-radius: 10px;
    border-style: solid;
    background-color: gray;
}
.workout {
    position: relative;
    top: 3px;
    text-decoration: none;
    color: #2e1f0f;
}
.nutrition__tag{
    border-radius: 10px;
    border-style: solid;
    background-color: gray;
}
.nutrition {
    position: relative;
    top: 3px;
    text-decoration: none;
    color: #2e1f0f;
}
.gym__tag{
    border-radius: 10px;
    border-style: solid;
    background-color: gray;
}
.gym {
    position: relative;
    top: 3px;
    text-decoration: none;
    color: #2e1f0f;
}
.plan__tag{
    border-radius: 10px;
    border-style: solid;
    background-color: gray;
}
.plan {
    position: relative;
    top: 3px;
    text-decoration: none;
    color: #2e1f0f;
}
.trainer__tag{
    border-radius: 10px;
    border-style: solid;
    background-color: gray;
}
.trainer {
    position: relative;
    top: 3px;
    text-decoration: none;
    color: #2e1f0f;
}
/*footer*/
.footer {
    width: auto;
    background-color: coral;
    height: 110px;
}
.footer__text {
    display: flex;
    width: 300px;
    margin: auto;
    padding-top: 30px;
}
.img__footer {
    position: relative;
    top: 8px;
    fill: azure;
    width: 40px;
    height: 40px;
}
.p__footer {
    padding-left: 10px;
    color: azure;
    font-size: 20px;
}
@media screen and (min-width: 370px) and (max-width: 480px){
    .menu__laptop{
        display: none;
    }
    .mobile__menu{
        width: 480px;
        display: flex;
        justify-content: space-between;
    }
    .logotip{
        margin-left: 0;
        margin-right: 30px;
    }
    .burger{
        display: flex;
        margin-top: 40px;
        margin-left: 30px;
    }
    .nav.active{
        background-color: black;
        transform: rotate(45deg) translate(5px, 5px);
    }
    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 270px;
        width: 180px;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow: auto;
        padding: 20px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
        border-style: solid;
        border-radius: 10px;
        border-color: coral;
    }
    .nav ul{
        flex-direction: column;
        row-gap: 15px;
    }
    @keyframes burgerAnimation {
        from {opacity: 0;}
        t {opacity: 1;}
    }
    li{
        width: 130px;
        height: 30px;
        font-size: 18px;
    }
    /*header*/
    .header{
        background-image: none;
    }
    .header__zagolovok{
        margin: auto;
        width: 360px;
        padding-top: 200px;
    }
    .zagolovok1{
        
    }
    .h1__zagolovok1{
        font-size: 26px;
    }
    /*fitnes plan*/
    .fitnes__plan{
        text-align: center;
        height: 2200px;

    }
    .h1__fitnes_plan{
        width: 360px;
        font-size: 28px;
    }
    .grid__fitnes_plan{
        width: auto;
        display: grid;
        grid-template-columns: repeat(1,6fr);
    }
    .grid1{
        width: 360px;
        margin: auto;
    }
    .grid2{
        width: 360px;
        margin: auto;
    }
    .grid3{
        width: 360px;
        margin: auto;
    }
    .grid4{
        width: 360px;
        margin: auto;
    }
    .grid5{
        width: 360px;
        margin: auto;
    }
    .grid6{
        width: 360px;
        margin: auto;
    }
    /*subscribe plan*/
    .subscribe__plan{
        width: auto;
        text-align: center;
        height: 1400px;
    }
    .h1__sub_plan{
        font-size: 28px;
        width: 360px;
    }
    .span__kurs{
        font-size: 28px;
    }
    .grid__plan{
        gap: 30px;
        width: 310px;
        display: grid;
        grid-template-columns: repeat(1,3fr);
    }
    /*join trainer*/
    .join__trainer{
        width: auto;
        text-align: center;
        height: 2000px;
    }
    .h1__join__trainer{
        width: 360px;
        font-size: 26px;
    }
    .grid__trainer{
        display: grid;
        width: 310px;
        gap: 40px;
        margin: auto;
        grid-template-columns: repeat(1,3fr);
    }
    /*why join us*/
    .why__join__us{
        width: auto;
        height: 800px;
    }
    .h1__why__join__us{
        width: 360px;
        font-size: 26px;
    }
    .question__foto{
        display: block;
        height: 500px;
    }
    .question{
        width: 360px;
        height: 150px;
        margin: auto;
    }
    .li__question1{
        font-size: 18px;
    }
    .li__question2{
        font-size: 18px;
    }
    .li__question3{
        font-size: 18px;
    }
    .li__question4{
        font-size: 18px;
    }
    .foto__quest{
        width: 360px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .img__quest1{
        width: 150px;
        height: 180px;
    }
    .img__quest2{
        width: 150px;
        height: 180px;
    }
    /*info*/
    .info{
        display: block;
        width: auto;
        height: 1100px;
        text-align: center;
    }
    .info2{
        display: block;
        width: 360px;
        margin: auto;
        text-align: center;
    }
    .logotip__flooter{
        padding: 40px 0 0 0;
        margin-top: 40px;
        margin: auto;
    }
    .company{
        padding: 0;
        margin: auto;
    }
    .contact__flooter{
        margin: auto;
    }
    .other{
        margin: auto;
    }
    .popular__tag{
        padding: 0;
        margin: auto;
    }
}








